/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/
.blk-base-btn {
  font-size: $font-size-body;
  color: $color-font-primary;
  background: $color-default;
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  transition: all .4s;

  &:hover,
  &:focus,
  &:active {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  // Button Sizing
  &.--small {
    padding: 5px 15px;
  }

  &.--med {
    padding: 10px 25px;
  }

  &.--large {
    padding: 15px 35px;
  }

  // Pill Modifier
  &.--pill{
    border-radius: 25px;
  }
}

// Brand Colors
.--primary {
  background: $color-brand-primary;
  color: $white;
}
.--primary-g {
  background: linear-gradient(41.55deg, $color-brand-primary 0%, $color-brand-accent 100%);
  color: $white;
}
.--secondary {
  background: $color-brand-secondary;
  color: $white;
}
.--secondary-g {
  background: linear-gradient(221.55deg, $color-brand-secondary-accent 0%, $color-brand-secondary 100%);
  color: $white;
}
.--font {
  background: $color-font-primary;
  color: $white;
}
