/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/
.blk-base-btn {
  font-size: $font-size-body;
  color: $color-font-primary;
  background: $color-default;
  display: inline-block;
  width: auto;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  transition: .4s;

  &:hover,
  &:focus,
  &:active {
    border: none;
    color: lighten($color-font-primary, 10%);
    background: darken($color-default, 5%);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  // Button Sizing
  &.--small {
    padding: 5px 15px;
  }

  &.--med {
    padding: 10px 25px;
  }

  &.--large {
    padding: 15px 35px;
  }

  // Pill Modifier
  &.--pill{
    border-radius: 25px;
  }
}
