// Global Form Styles
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.blk-error-message {
  display: none;
  color: red;
  margin-top: 20px;
}

.blk-error {

  input {
    border: 1px solid red!important;
    color: red!important;
  }

  .blk-error-message {
    display: block;
  }
}

$border-color-active: rgba(15, 22, 24, 1);
$border-color-passive: rgba(15, 22, 24, 0);
input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    border-radius: 0;
    font-family: $main-font;
    padding: 4px;
    margin-top: 15px;
    background: transparent;
    outline: 0;
    border: 1px solid #ccc;
    height: 50px;

    &.--filled {
      border-top: 4px solid $border-color-passive;
      border-bottom: 4px solid $border-color-active;
      text-transform: none;
    }

    &::placeholder {
      color: $color-brand-bkg;
    }
  }
}


/* stylelint-enable */

/* Form Scaffolding */

.blk-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.blk-input-group {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.blk-action-group {
  width: 100%;
  position: relative;
}

.blk-input-name {
  font-size: 16px;
  letter-spacing: .63px;
  line-height: 22px;
  margin-bottom: 10px;
}

// Form Error Colors
/* Disabled for important so it can override on all instances */
/* stylelint-disable */

.blk-form-error {
  width: 100;
  display: block;
  color: $white;
  margin-bottom: 30px;
  padding: 10px;
}
.--success {
  background: $color-success !important;
  border: 4px solid $stroke-success !important;
}
.--warning {
  background: $color-warning !important;
  border: 4px solid $stroke-warning !important;
}
.--danger {
  background: $color-danger !important;
  border: 4px solid $stroke-danger !important;
}
.--default {
  background: $color-default !important;
  border: 4px solid $stroke-default !important;
}
/* stylelint-enable */
