/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/
// Main colors
$color-font-primary: #303030;
$color-brand-primary: #9013fe;
$color-brand-accent: #f185ce;
$color-brand-secondary: #2dcdd8;
$color-brand-secondary-accent: #67e2b3;
$color-bkg-light: #eceff1;

// Form colors
$color-success: #7ed321;
$stroke-success: #b7e08a;
$color-warning: #f96c44;
$stroke-warning: #f3a58f;
$color-danger: #d0021b;
$stroke-danger: #e78490;
$color-default: #eceff1;
$stroke-default: #f5f5f5;

// Link Colors
$color-link: #3380ff;

$color-brand-bkg: #0f1618;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #fff;


// Main Font
$main-font: 'Open Sans', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables
$font-size-h6: 16px;
$font-size-h5: 18px;
$font-size-h4: 22px;
$font-size-h3: 26px;
$font-size-h2: 30px;
$font-size-h1: 36px;
$font-size-body: 16px;
// Radius Variables
$standard-radius: 4px;
